@use "../styles/main-style-var" as *;

.header{
  background-image: url("netflix.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 245px;
  position: relative;
}

.containerTextBtn{
display: flex;
flex-direction: column;
position: absolute;
z-index: 100;
top: 160px;
left: 0px;
right: 0px;
margin-left: 75px;
margin-right: 75px;
}

.containerArticle{
box-shadow:  $shadow;
border: solid 1px $border-color;
border-radius: 5px;
padding: 40px 60px;
display: flex;
flex-direction: column;
align-items: center;
background-color: $white;

  p, h2{
    margin: 0;
    padding: 0;
  }
}

.titleArticlePage{
  margin-bottom: 40px !important;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: $text-color;
}

.descArticlePage{
font-size: 18px;
font-weight: 400;
line-height: 150%;
color: $black;
}

.backHomeButn{
width: 175px;
height: 24px;
font-size: 16px;
font-weight: 700;
border: none;
background-color: transparent;
margin-left: 60px;
text-align: left;
margin-top: 30px;
color: $text-color;
cursor: pointer;

  .ArrowBackIcon{
  font-size: 16px !important;
  margin-bottom: -3px;
  }
}

